.timer {
  margin-top: 40px;
}

.timer__items {
  display: flex;
  font-size: 30px;
  max-width: max-content;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  color: brown;
}

.timer__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}
